.team {}

    .teammates {
        text-align: center;
        font-size: 0;
        line-height: 0;
        }

        .team-member {
            margin: $margin-team-member/2 $margin-team-member/2;
            display: inline-block;

            img {
                width: $width-team-member-img;
                border-radius: $width-team-member-img;
                display: block;
                border: 3px solid #fff;
                box-shadow: 0 0 5px rgba(#000, .5);
                box-sizing: border-box;
                }
            }
